@use "./variables" as v;
@use "./mixins" as m;

.contact{
    margin: 100px 0;
    display: flex;
    justify-content: space-between;

    div{
        width: 40%;
    }

    h2{
        font-size: 50px;
        font-weight: 500;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 50%;

        
        button{
            border: none;
            @include m.contact;
            background: none;
            padding: 0;
            cursor: pointer;
            font-size: 14px;
        }
    }
}