@use "./variables" as v;
@use "./mixins" as m;

.contact{
    margin: 100px 0;
    display: flex;
    justify-content: space-between;

    p{
        width: 70%;
        font-weight: 300;
        color: #d9d9d9;
    }

    h2{
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 50%;
        
        button{
            border: none;
            @include m.contact;
            background: none;
            padding: 0;
            cursor: pointer;
            font-size: 14px;
        }
    }

    input, textarea{
        border: none;
        border-bottom: 1px solid v.$color-tertiary;
        outline: none;
        background: none;
        padding: 10px 0;
        cursor: pointer;
        width: 400px;
        transition: all 0.5s ease;
    }

    textarea{
        resize: none;
    }

    input::placeholder,
    textarea::placeholder {
      color: v.$color-tertiary;
      font-family: v.$font-main;
      text-transform: uppercase;
      font-size: 10px;
    }

    input:hover, textarea:hover{
        border-bottom: 1px solid v.$color-accent;
    }
  
}