@use "./variables" as v;
@use "./mixins" as m;

.contact{

    position: relative;
    padding: 100px 0;
    background-color: v.$color-secondary;
    z-index: 1;

    &::after{
      @include m.rings;
      width: 300px;
        left: -200px;
        top: 300px;
        pointer-events: none;
    }

    &__container{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 80px;
        max-width: 80%;
    }

    p{
        max-width: 600px ;
        font-weight: 300;
        color: #d9d9d9;
        line-height: 25px;
        font-size: 20px;
    }

    h2{
        font-size: 50px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;

        button{
            border: none;
            @include m.contact;
            background: none;
            padding: 0;
            cursor: pointer;
            font-size: 14px;
            padding: 20px 0 10px;
            font-family: v.$font-main;

            &:hover{
              color: v.$color-accent;
            }
        }
    }

    input, textarea{
        border: none;
        border-bottom: 1px solid v.$color-tertiary;
        color: #d9d9d9;
        outline: none;
        background: none;
        padding: 10px 0;
        width: 400px; 
        transition: all 0.5s ease;
    }

    textarea{
        resize: none;
    }

    input::placeholder,
    textarea::placeholder {
      color: v.$color-tertiary;
      font-family: v.$font-main;
      text-transform: uppercase;
      font-size: 10px;
    }

    input:hover, textarea:hover{
        border-bottom: 1px solid v.$color-accent;
    }
}

@media (max-width: 1050px) {

  .contact{
    text-align: center;
    &__container{
        display: block;
    }

    form{
        display: block;
    }

    p{
        margin: 20px auto;
    }
  
  }

}

@media (max-width: 500px) {
    .contact {
      padding: 50px 0;
  
      p {
        max-width: 100%;
      }
  
      input,
      textarea {
        width: 100%;
      }
  
      button {
        font-size: 12px;
      }
    }
  }
  

