@use "./variables" as v;
@use "./mixins" as m;

body{
    background: v.$color-primary;
    font-family: v.$font-main;
    color: v.$color-tertiary;
    max-width: 1440px;
    margin: 0 auto;
}

.wrapper {
    @include m.wrapper;
    position: relative;

    
}

ul{
 list-style-type: none;
}