@use "./variables" as v;
@use "./mixins" as m;

body{
    background: v.$color-primary;
    font-family: v.$font-main;
    font-size: 14px;
    color: v.$color-tertiary;
    max-width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
}

.wrapper {
    @include m.wrapper;
    position: relative;
}

.fix-menu{
    @include m.wrapper;
    position: fixed;
    top: 0;
    background: v.$color-primary;
    z-index: 100;
}

h2{
    font-size: 50px;
    font-weight: 700;
}

ul{
 list-style-type: none;
}



@media (max-width:900px){

    h2{
        font-size: 30px;
    }
}
