@use "./variables" as v;
@use "./mixins" as m;

.nav{

   padding: 30px 0;
   position: relative;
   z-index: 1;

   &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    z-index: 100;
   }

   &__logo{
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
   }

   &__hamburger{
    padding: 0 10px;
    font-size: 20px;
    cursor: pointer;
   }

   &__close{
    padding: 0 10px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    display: none;
   }

   &__menu{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    text-align: center;
    background: rgba(v.$color-primary,.9);
    z-index: 10;
    opacity: 0;
    padding: 50px 0;
    pointer-events: none;
    transition: opacity 0.5s ease;

    li{
        padding: 30px;        

        a{
            text-decoration: none;
            color: v.$color-tertiary;
            text-transform: uppercase;
            font-size: 20px;
            transition: all .3s ease;

            &:hover{
                color: v.$color-accent
            }
        }
    }
   }
}

.show{
    opacity: 1;
    display: block;
    pointer-events: all;
}

.hide{
    opacity: 0;
}   

.nav__scrolled{
    background-color: rgba(v.$color-primary,.9);
}


@media (max-width:500px){
    .nav{
        &__logo{
            font-size: 20px;
        }
    }
}