@use "./variables" as v;
@use "./mixins" as m;

.nav{
   display: flex; 
   justify-content: space-between;
   align-items: center;
   padding: 30px 0;
   position: relative;
   
   &__logo{
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
   }

   &__hamburger{
    padding: 0 10px;
    font-size: 20px;
    cursor: pointer;
   }

   &__close{
    padding: 0 10px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    display: none;
   }

   &__menu{
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    background: rgba(v.$color-primary,.9);
    z-index: 1000;
    opacity: 0;
    padding: 30px 0;
    transition: opacity 0.5s ease;

    li{
        padding: 30px;        

        a{
            text-decoration: none;
            color: v.$color-tertiary;
            text-transform: uppercase;
            font-size: 20px;
            transition: all .3s ease;

            &:hover{
                color: v.$color-accent
            }
        }
    }
   }
}

.show{
    opacity: 1;
    display: block;
}

.hide{
    opacity: 0;
}

