@use "./variables" as v;
@use "./mixins" as m;

.hero{

    height: 600px;
    border-bottom: 1px solid v.$color-tertiary;

    &::before{
        @include m.rings;
        top: 100px;
        left: -300px;
    }

    &::after{
        content: "";
        display: inline-block;
        background-image: url('../../../assets/images/pattern-circle.svg');
        background-size: cover;
        width: 70px;
        height: 70px;
        position: absolute;
        right: 420px;
       
    }

    &__content{
        z-index: 2;

        h1{
            font-size: 50px;
            font-weight: 700;
            width: 500px;
            margin: 100px 0 0; 

            span{
                border-bottom: 5px solid v.$color-accent;
            }
        }

        p{
            font-size: 14px;
            font-weight: 300;
            margin: 50px 0;
            width: 350px;
            line-height: 20px;
        }

        a{
            @include m.contact;

            &:hover{
                color: v.$color-accent;
            }
        }

    }

    &__image{

        position: absolute;
        top: 0;
        right: 0;

        z-index: -1;

        img{
            width: 445px;
            height: 720px;
        }
    }
}

@media (max-width:900px){

    .hero{

        &__content{
            z-index: 2;

            
            h1, p{
                width: 320px;
            }
        }

        &__image{

            right: -90px;

            img{
                width: 322px;
                height: 600px;
            }
        }
    }
}

@media (max-width:500px){

    .hero{
        height: 300px;
        position: relative;
        text-align: center;

        &__content{
            z-index: 2;
            
            h1{
                font-size: 30px;
                width: 100%;
                margin: 100px 0 0;
            }

            p{
                width: 100%;
                margin: 30px 0;
            }
        }

        &__image{
            display: none;
        }
    }
}