@use "./variables" as v;

@mixin wrapper {
    margin: 0 auto;
    padding-top: 80px;
    max-width: 80%;
}

@mixin rings {
    content: url('../../../assets/images/pattern-rings.svg');
    display: inline-block;
    position: absolute;
}

@mixin contact {
    color: v.$color-tertiary;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid v.$color-accent;
    transition: color .3s ease;
}

















 