@mixin wrapper {
    width: 80%;
    margin: 0 auto;
}

@mixin rings {
    content: url('../../../assets/images/pattern-rings.svg');
    display: inline-block;
    position: absolute;

}

















 