@use "./variables" as v;
@use "./mixins" as m;

.projects{
    z-index: -10;
    
    &__header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        a{
            color: #FFFFFF;
            text-transform: uppercase;
            text-decoration: none;
            transition: color 0.3s ease;
            position: relative;

            &::after{
                content: "";
                position: absolute;
                bottom: 25px;
                left: 0;
                height: 1.5px;
                width: 100%;
                background-color: v.$color-accent;
            }


            &:hover{
                color: v.$color-accent;
            }
        }


    }

    &__grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
        
    }

    &__items{

        position: relative;
        margin-bottom: 50px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top left;

        }

    }

    &__img-container{
        position: relative;
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
        width: 100%;
        height: 300px;

        &:hover .overlay{ 
            opacity: .9;
            left: 0;
        }

        &:hover .links{
            opacity: 1;
        }
    }

    &__title {
        padding: 10px 0;
        text-transform: uppercase;
        font-weight: 500;
    }

    &__tech{

        display: flex;
        gap: 10px;
        margin-bottom: 0;
        color: #d9d9d9;

        p{
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 300;
        }
    }

}


.links{        

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 9;
    text-align: center;
    
    a{
        @include m.contact;
        display: block;
        padding: 15px 0;
        font-size: 12px;


        &:hover{
            color: v.$color-accent;

        }
    }
}

.overlay {
    background-color: v.$color-secondary;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 1;
    transition: left 0.7s ease;
}

@media (max-width:900px){

    .projects{


        &__title {
            text-align: center;
        }
    
        &__tech{
            justify-content: center;
        }

    }

    .projects__header a::after {
        bottom: 9px;
    }

}

@media (max-width:500px){
    .projects{
        
        &__grid{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
        
        &__img-container{
            height: 200px;
        }
    }
}